.btn {
  display: inline-block;
  background-color: $color-dark;
  color: #F8F8F8;
  padding: 1rem 2.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;

  &--light:link,
  &--light:visited {
    color: $color-grey-dark;
    background-color: $midsilver;
    transition: all 0.2s ease-out;
  }

  &--light:hover,
  &--light:focus {
    color: #F8F8F8;
    background-color: $color-grey-dark;
  }

  &--blue:link
  &--blue:visited {
    background: $color-blue-dark;
    color: #F8F8F8;
  }


  /* BLOG */
  &--blog:link,
  &--blog:visited {
    background-image: linear-gradient(to right, $color-dark-blue, color($color-dark-blue l(50%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--blog:hover,
  &--blog:focus {
    background-image: linear-gradient(to left, $color-dark-blue, color($color-dark-blue l(50%)));
  }

  /* BLUE */
  &--gradient-blue:link,
  &--gradient-blue:visited {
    background-image: linear-gradient(to right, $color-dark-blue, color($color-dark-blue l(50%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-blue:hover,
  &--gradient-blue:focus {
    background-image: linear-gradient(to left, $color-dark-blue, color($color-dark-blue l(50%)));
  }

  /* ORANGE */
  &--gradient-orange:link,
  &--gradient-orange:visited {
    background-image: linear-gradient(to right, $color-orange, color($color-orange l(30%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-orange:hover,
  &--gradient-orange:focus {
    background-image: linear-gradient(to left, $color-orange, color($color-orange l(30%)));
  }

  /* PURPLE */
  &--gradient-purple:link,
  &--gradient-purple:visited {
    background-image: linear-gradient(to right, $color-purple, color($color-purple l(30%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-purple:hover,
  &--gradient-purple:focus {
    background-image: linear-gradient(to left, $color-purple, color($color-purple l(30%)));
  }

  /* GREEN */
  &--gradient-green:link,
  &--gradient-green:visited {
    background-image: linear-gradient(to right, $color-green, color($color-green l(20%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-green:hover,
  &--gradient-green:focus {
    background-image: linear-gradient(to left, $color-green, color($color-green l(20%)));
  }

  /* GREEN BOLIVIA */
  &--gradient-green-bol:link,
  &--gradient-green-bol:visited {
    background-image: linear-gradient(to right, $color-green-bol, color($color-green-bol l(30%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-green-bol:hover,
  &--gradient-green-bol:focus {
    background-image: linear-gradient(to left, $color-green-bol, color($color-green-bol l(30%)));
  }

  /* YELLOW COLOMBIA */
  &--gradient-yellow-col:link,
  &--gradient-yellow-col:visited {
    background-image: linear-gradient(to right, $color-yellow-col, color($color-yellow-col l(30%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-yellow-col:hover,
  &--gradient-yellow-col:focus {
    background-image: linear-gradient(to left, $color-yellow-col, color($color-yellow-col l(30%)));
  }

  /* GREY BTN */
  &--gradient-grey:link,
  &--gradient-grey:visited {
    background-image: linear-gradient(to right, $color-grey-btn, color($color-grey-btn l(30%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-grey:hover,
  &--gradient-grey:focus {
    background-image: linear-gradient(to left, $color-grey-btn, color($color-grey-btn l(30%)));
  }

  /* PINK BTN */
  &--gradient-pink:link,
  &--gradient-pink:visited {
    background-image: linear-gradient(to right, $color-pink-btn, color($color-pink-btn l(30%)));
    color: #F8F8F8;
    transition: all 1s;
  }
  &--gradient-pink:hover,
  &--gradient-pink:focus {
    background-image: linear-gradient(to left, $color-pink-btn, color($color-pink-btn l(30%)));
  }



  &--transparent:link,
  &--transparent:visited {
    background: linear-gradient(rgba(#FFF, .3), rgba(#FFF, .2));
    color: #F8F8F8;
  }


  &--c-white:link,
  &--c-white:visited {
    color: #F8F8F8;
  }

  &--large {
    padding: 1.5rem 2.7rem;
    min-width: 180px;

    @mixin atSmall {
      font-size: 1.8rem;
    }

  }

  &--small {
    padding: 1rem 2rem;
    min-width: 130px;
    font-size: 1.8rem;
    @mixin atSmall {
      font-size: 1.4rem;
    }
  }
}

/* CTA */
.cta {
  display: block;
  margin-top: 2rem;
}

.landing_cpt {
  padding: 4rem;

  p {
    text-align: center;
    font-weight: 500;
    font-style: italic;
  }

  .btn {
    display: block;
    margin: 4rem auto 4rem;
    width: 300px;
    border-radius: 20px;

  }

}
