.contacto {
  padding: 4rem 1rem 6rem;
  h6 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0px 0px 3rem;
    text-align: center;
    color: $color-sea-blue;
  }
  &__addresses {
  }
  h5 {
    font-size: 2.4rem;
    color: $color-sea-blue;
    margin: 4rem 0px 1rem;
    text-align: left;
  }
  p {
    margin: 0px;
    font-size: 2rem;
    line-height: 1.4;
    text-align: left;
  }

}
