.escuelas {

  padding: 2rem 0px 2rem;

  &__main-content {
    display: block;
    max-width: 700px;
    margin: 0px auto;
    h2 {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 400;
      margin: 2rem 0px 2rem;
    }
    h3 {
      margin: 2rem 0px 2rem;
      font-weight: 300;
      font-size: 2rem;
    }
    p {
      margin-bottom: 1.5rem;
      text-align: justify;
    }
    ul, ol {
      margin: 0px 0px;
      padding: 0px;
      list-style-type: none;
    }
    li {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    &--table {
      border: 1px solid #FFFFFF;
      width: 100%;
      height: auto;
      text-align: center;
      border-collapse: collapse;

      tbody td {
        font-size: 1.4rem;
      }

      tr td {
        padding: 1rem;
      }

      tr:first-child {
        background: color($carbon a(80%)) !important;
      }

      tr:first-child td {
        font-weight: 500;
        text-transform: uppercase;
        padding: 1.4rem;
        color: #FFFFFF;
        border-right: 1px solid $white;
        &:last-child {
          border-right: none;
        }
      }

      tr:nth-child(odd) {
        background: color($carbon a(10%));
      }

      tr:nth-child(even) {
        background: $white;
      }

    } /* &--table */

    &--second {

      h2 {
        margin-top: 3rem;
        font-weight: 500;
        text-transform: none;
        margin-bottom: 1rem;
      }
      a {
        color: $color-blue;
        font-weight: 500 !important;
        &:hover,
        &:focus {
          text-decoration: underline;
          border-bottom: none !important;
        }
      }

    }


  } /* &__main-content */


} /* .escuelas */


