/* FORMS */
/* GENERIC */
.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem 1rem 2rem;

}
div.wpcf7 {
  margin-top: 2rem !important;
}
.form,
.wpcf7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 2rem;
  width: 100%;
  padding: 4rem 4rem;
  border-radius: 3px;
  box-shadow: $shadow-light;
  &--title {
    color: #000000;
    text-transform: uppercase;
  }
  .wpcf7-form {
    padding: 4rem;
    &__3columnflex {
      display: flex;
      justify-content: space-between;
      label {
        margin-right: 1rem;
      }
      label:last-child {
        margin-right: 0px;
      }
      .dateField {
        display: inline-block;
        width: 230px;
        color: $color-grey-light;
      } /* .dateField */
      .numberField {
        display: inline-block;
        width: 200px;
      } /* .dateField */
      .horaField {
        display: inline-block;
        width: 150px;
      } /* .dateField */
    }
    &__para {
      margin: 1rem 0px 1.5rem;
      text-align: right;
      color: $color-blue-dark;
    }
  } /* .wpcf7-form */

  /* fields */
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    margin: 0px 0px 1rem;
    border: 1px solid $color-grey-light-4;
    font-size: 1.5rem;
    &::-webkit-input-placeholder {
      color: $color-grey-light;
      font-size: 1.4rem;
      line-height: 1.4;
    }
    &::-moz-placeholder {
      color: $color-grey-light;
      font-size: 1.4rem;
      line-height: 1.4;
    }
    &:-ms-input-placeholder {
      color: $color-grey-light;
      font-size: 1.4rem;
      line-height: 1.4;
    }
    &:-moz-placeholder {
      color: $color-grey-light;
      font-size: 1.4rem;
      line-height: 1.4;
    }

  } /* input fields */
  input[type="date"] {
    height: 38px;
  }
  textarea {
    height: 150px;
  }
  input[type="submit"] {
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    background-color: $color-orange;
    color: $white;
    cursor: pointer;
    box-shadow: $shadow-light;
    &:hover,
    &:focus {
      background-color: color($color-orange l(-5%));
    }
  }

  &__mailSentConfirmation {
    text-align: center;
    font-weight: 300;
    color: $color-green;
    line-height: 1.4;
  }


} /* .form */



/* contacto form */




/* catering form */




/* restaurant form */





/* turismo form */
