/* NAVIGATION */
/* Site Header Navigation */
.site-header {

  &__main-navigation {
    margin-bottom: 0.5rem;
    @mixin atMedium {
      margin-bottom: 1.5rem;
    }
    /* FIRST LEVEL */
    ul {
      width: 70%;
      max-width: 300px;
      padding: 0px 0px 0.5rem;
      margin: 0px auto 8px;
      list-style-type: none;
      position: static;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      visibility: hidden;
      @mixin atMedium {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        padding: 0px;
        position: relative;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
      }
    }
    ul li {
      display: inline-block;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      margin-right: 2px;
      border-bottom: 1px dotted #F8F8F8;
      &:last-child {
         margin-right: 0px;
         border-bottom: none;
      }

      &.current-page {
        background-color: $color-orange;
        @mixin atMedium {
          background: #E3E3E3;
        }
      }

      @mixin atMedium {
        border-bottom: none;

        &:last-child {
          border-right: none;
        }
      }

    }
    ul li a {
      color: #FFFFFF;
      text-decoration: none;
      padding: 20px 0px;
      text-align: center;
      display: block;
      position: relative;
      text-transform: uppercase;
      font-size: 1.3rem;
      @mixin atMedium {
        padding: 6px 0px;
        color: #000000;
        border-right: 2px solid #000000;
      }

    }
    ul li:hover {
      @mixin atMedium {

      }
      & a {
        color: $color-orange;
        @mixin atMedium {
          color: #000000;
          text-decoration: underline;
        }
      }
    }

    /* SECOND LEVEL */
    ul ul {
      position: absolute;
      max-width: 200px;
      visibility: hidden;
      opacity: 0;
      top: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      /* transition: visibility 0s, opacity 0.1s ease-out; */
    }
    ul ul li {
      display: block;
      border-right: none;
    }
    ul ul li a {
      text-align: left;
      padding: 12px 0px 12px 2rem;
      text-decoration: none !important;
      border-right: none;
    }
    ul li:hover ul {
      display: block;
      visibility: visible;
      opacity: 1;

    }
    ul li li:hover a {
      text-decoration: underline !important;
    }
    ul li i {
      color: #292929;
      position: absolute;
      right: 1.5rem;
      top: 0.5rem;
    }


    /* MOBILE MENU */
    &--is-visible {
      ul {
        display: block;
        opacity: 1;
        visibility: visible;
        @mixin atMedium {
          display: flex;
          justify-content: space-between;
          position: relative;
        }
      }
      ul li {
        display: block;
      }
      ul ul {
        position: static;
        background: #E3E3E3;
      }


    }

  } /* &__main-navigation */

} /* .site-header */


