/* NAVIGATION */
/* Site Header Navigation */
.site-header {

  &__main-navigation {
    margin-bottom: 0.5rem;
    /* FIRST LEVEL */
    ul {
      width: 70%;
      padding: 0px;
      margin: 0px auto 8px;
      list-style-type: none;
      /* background-color: #E3E3E3; */
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    ul li {
      display: inline-block;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;

      border-radius: 2px;
      margin-right: 2px;
      &:last-child {
         margin-right: 0px;
      }

      &.current-page {
        background: #E3E3E3;
      }

    }
    ul li a {
      color: #292929;
      text-decoration: none;
      padding: 12px 0px;
      text-align: center;
      display: block;
      position: relative;
      text-transform: uppercase;
      font-size: 1.3rem;
    }
    ul li:hover {
      background: lightgrey;
    }

    /* SECOND LEVEL */
    ul ul {
      position: absolute;
      max-width: 200px;
      background: lightgrey;
      visibility: hidden;
      opacity: 0;
      /* transition: visibility 0s, opacity 0.1s ease-out; */
    }
    ul ul li {
      display: block;
      background: #E3E3E3;
    }
    ul ul li a {
      text-align: left;
      padding-left: 2rem;
    }
    ul li:hover ul {
      display: block;
      visibility: visible;
      opacity: 1;
    }
    ul li i {
      color: #292929;
      position: absolute;
      right: 1rem;
      top: 1.4rem;
    }



  } /* &__main-navigation */

} /* .site-header */


