.section-title {
  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    @mixin atSmall {
      font-size: 4rem;
    }
  }

  strong {
    font-weight: 500;
  }

  &__icon {
    margin-right: 2rem;
    font-size: 3rem;
  }

}
.section-title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
  margin-top: 0px;
  a {
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}
