.site-footer {
  background-color: $color-sea-blue;
  color: #FFFFFF;
  text-align: center;
  padding: 0px;

  &__top {
    padding: 2rem 2rem 4rem 0px;
    @mixin atMedium {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
      grid-gap: 40px;
      align-items: start;
    }
    &--logo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      .logo-footer {
        width: 50%;
        margin: 0px;
        @mixin atSmall {
          width: 150px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &--servicios {
      display: block;
      h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.8rem;
        color: $color-grey-light-1;
        line-height: 2;
        border-bottom: 1px dotted $color-grey-light-1;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-left: 1.5rem;
        color: $color-grey-light-1;
      }
      li {
        text-align: center;
        list-style: none;
        @mixin atMedium {
          text-align: center;
          /* list-style: square; */
        }
        margin-bottom: 1rem;
      }
      a:link,
      a:visited {
        font-size: 1.4rem;
        color: $color-grey-light-1;
        font-weight: 300;
        transition: color 0.2s;
      }
      a:hover,
      a:focus {
        color: $color-grey-light-4;
      }
    }
    &--noticias {
      display: block;
      h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.8rem;
        color: $color-grey-light-1;
        line-height: 2;
        border-bottom: 1px dotted $color-grey-light-1;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-left: 1.5rem;
        color: $color-grey-light-1;
      }
      li {
        text-align: center;
        list-style: none;
        @mixin atMedium {
          text-align: center;
          /* list-style: square; */
        }
        margin-bottom: 1rem;
      }
      a:link,
      a:visited {
        font-size: 1.4rem;
        color: $color-grey-light-1;
        font-weight: 300;
        transition: color 0.2s;
      }
      a:hover,
      a:focus {
        color: $color-grey-light-4;
      }
    }
    &--contacto {
      display: block;
      h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.8rem;
        color: $color-grey-light-1;
        line-height: 2;
        border-bottom: 1px dotted $color-grey-light-1;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        color: $color-grey-light-1;
      }
      li {
        text-align: center;
        @mixin atMedium {
          text-align: center;
        }
        margin-bottom: 1.5rem;
        list-style: none;
        font-size: 1.4rem;
      }
      a:link,
      a:visited {
        font-size: 1.3rem;
        color: $color-grey-light-1;
        font-weight: 300;
        transition: color 0.2s;
      }
      a:hover,
      a:focus {
        color: $color-grey-light-4;
      }
    }
  }

  &__bottom {
    background-color: color($color-sea-blue lightness(15%));
    padding: 4rem 0px;
    width: 100%;
    .wrapper {
      @mixin clearfix;
    }
    &--nav {
      width: 30%;
      display: inline-block;
      float: left;
      padding: 0px;
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 2em;
      }
      li {
        display: inline-block;
        margin: 0px;
      }
      a {
        background-color: rgba(221, 221, 223, 0.5);
        border-radius: 10px;
        color: #F2F0E3;
        display: inline-block;
        height: 40px;
        margin: 0px 2em 0px 0px;
        text-align: center;
        width: 40px;
        &:hover,
        &:focus {
          background-color: $color-purple;
        }
      }
      .icon {
        display: inline-block;
        fill: currentColor;
        position: relative;
        height: 16px;
        top: 12px;
        width: 16px;
        vertical-align: top;
      }
      svg:not(:root) {
        overflow: hidden;
      }
    }
    &--info {
      display: block;
      width: 40%;
      height: 40px;
      margin: 0px auto;
      display: flex;
      align-items: center;
      p {
        text-align: left;
        padding: 0px;
        margin: 0px;
      }
    }
  }

}
