.m-top-large {
  margin-top: 2rem;
}
.m-top-larger {
  margin-top: 6rem;
}

/* .hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }

  &:before {
    bottom: 100%;
    border-bottom: 86.60px solid #64C7CC;
  }

  &:after {
    top: 100%;
    width: 0px;
    border-top: 86.60px solid #64C7CC;
  }

} */

.hexagon {
  padding: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);

  &-f {
    background-color: rgb(34, 140, 192);
  }
  &-m {
    background-color: rgb(57, 170, 224);
  }
  &-t {
    background-color: rgb(101, 190, 227);
  }

}
