/* NAVIGATION */

/* Site Header Navigation */
.site-header {

  &__main-navigation {
    width: 90%;
    opacity: 0;
    padding: 0px 4rem 1.5rem;
    margin: 0px auto;
    position: relative;
    z-index: -10;

    @mixin atMedium {
      width: 100%;
      padding: 0px;
      margin: 2rem 0px 3rem;
      z-index: 10;
      opacity: 1;
    }

    /* FIRST LEVEL */
    ul {
      list-style: none;
      padding-top: 40px;
      width: 100%;
      margin: 0px auto;
      text-align: center;

      @mixin atSmall {
        width: 100%;
      }

      @mixin atMedium {
        padding-top: 0px;
        width: 90%;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
      }

      @mixin atLarge {
        width: 80%;
      }

    }

    li {
      display: block;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 300;
      padding: 2px 0px;
      padding-left: 0px;
      border-bottom: 1px dotted #F8F8F8;

      @mixin atMedium {
        padding: 0px;
        font-size: 1.5rem;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        text-align: center;
        line-height: 1.4;
        transition: background-color 0.2s;

        &:hover {

        }

      }

    }

    a:link,
    a:visited {
      display: block;
      padding: 1.6rem 1rem;
      color: #F8F8F8;
      transition: color 0.2s;

      @mixin atMedium {
        padding: 0px;
        background-color: transparent;
        border-radius: none;
        color: $color-dark;
      }

    }

    @mixin atMedium {
      li a {
        border-right: 2px solid $color-dark;
      }

      li:last-child a {
        border-right: none;
      }
    }

    a:hover,
    a:focus {

      color: $color-green;

      @mixin atMedium {
        color: $color-dark;
        font-weight: 500;
        border-bottom: none;
      }

    }

    /* SECOND LEVEL */

    ul ul {
      position: absolute;
      min-width: 200px;
      background: lightgrey;
      display: block;
      /* display: none; */
    }

    ul ul li {
      display: block;
      border: 1px solid slateblue;
    }

    .current-page {

      @mixin atMedium {
        border-radius: 2px;

        &:hover,
        &:focus {
        }

      }

    }
    .current-page a:link,
    .current-page a:visited {

      color: $color-grey-light;

      @mixin atMedium {
        color: $color-dark;
        font-weight: 500;
      }

    }
    .current-page a:hover,
    .current-page a:focus {
      cursor: default;

      @mixin atMedium {
        color: $color-dark;
        font-weight: 500;
      }

    }



    &--is-visible {
      opacity: 1;
      position: relative;
      transform: scale(1);
      z-index: 20;
    }

  } /* &__main-navigation */

} /* .site-header */

/* FROM SITE HEADER */
.site-header {
    /* NAVIGATION */
  &__main-navigation {

    @mixin atMedium {
      display: block;
    }

    ul {
      margin: 0px;
      padding: 0px;
      position: relative;

      @mixin atMedium {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

    }

    /* SMALL MENU (--is-visible) */
    &--is-visible {
      width: 70%;
      margin: 0px auto;

      @mixin atMedium {
        width: 100%;
        margin: 0px;
        border: none;
      }

      ul {
        margin: 0px;
        z-index: 20;

      }

    } /* SMALL MENU (--is-visible) */

  } /* &__main-navigation */
}

/* SITE FOOTER */
.site-footer {
  background-color: $color-sea-blue;
  color: #FFFFFF;
  text-align: center;
  padding: 4rem 1rem;
  &__info {
    padding: 1rem;
    /* min-height: 300px; */
    &--logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0px;
      .logo-footer {
        height: 50px;
        margin: 0px 0px 0.5rem;
      }
      p {
        color: #FFFFFF;
        margin: 0px;
      }
    } /* &--logo */
    &--text {
      display: block;
      p {
        display: block;
        margin: 1rem auto;
        width: 50%;
        max-width: 500px;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.4;
        text-align: center;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-left: 1.5rem;
      }
      li {
        text-align: left;
        margin-bottom: 1rem;
        list-style: square;
      }
      a {
        font-size: 1.3rem;
        color: $color-grey-light;
        font-weight: 200;
      }
    } /* &--text */
    &--contacto {
      display: block;
      h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 4rem;
        margin: 0px;
        color: #FFFFFF;
        line-height: 2;
      }
      &--ep {
        width: 50%;
        max-width: 500px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
      }
      p {
        margin-right: 3rem;
        font-size: 1.4rem;
        &:last-child {
          margin-right: 0px;
        }
        .fa {
          margin-right: 0.3rem;
        }
      }
    } /* &--contacto */
    &--redes {
      display: block;
      margin: 3rem auto;
      width: 70%;
      max-width: 300px;
      &-ul {
        font-size: 3rem;
        list-style-type: none;
        margin: 0px;
        padding: 2rem 1rem;
        background-color: $color-dark-blue;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        li {
          /* background-color: $color-sea-blue; */
          /* padding: 1rem 2rem; */
        }
        .fab {
          color: #FFFFFF;
          font-size: 3.6rem;
        }
      }
    } /* &--redes */
  } /* &__info */
  &__credits {
    margin-top: 3rem;
    color: $snow;
  }
}


